node_modules/
dist/
.next/
build/
.turbo/
coverage/
*.local
.DS_Store
.env
.env.local
.vercel

# Apps
apps/*/node_modules/
apps/*/.git/
apps/*/dist/
apps/*/build/
apps/*/.next/

# Packages
packages/*/node_modules/
packages/*/dist/

# OS
.DS_Store
Thumbs.db
